* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100vh;
}

img {
    height: 50px;
}

.content {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
}

.header {
    grid-column: span 2;
    color: #FFFFFF;
    background-color: #195ABE;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-weight: bold;
}

.logo {
    flex: 1;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    background-color: #f3f2f1;
    padding: 14px
}

.list h2 {
    color: #195ABE
}

.current {
    background-color: #ecf6fd;
    -webkit-box-shadow: inset 5px 0px 0px 0px #195ABE;
    box-shadow: inset 5px 0px 0px 0px #195ABE;
}

#projects>* {
    padding: 14px;
}

#add-item {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
}

#form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .50);
}

#new-list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .50);
}

#form.invisible {
    display: none;
}

#new-list.invisible {
    display: none;
}

.card {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.not-yet {
    background-color: #b5b5b5;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
}

.complete {
    background-color: #95ff9e;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
}

.done {
    opacity: 0.5
}

.bg-description {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.description-contents {
    height: 300px;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #FFFFFF;
    transform: rotate(45deg);
    cursor: pointer;
}